{% extends "shop/layout.html" %}

{% block content %}

    <a href="{% url "shop:shop_new" %}">새글쓰기</a>

    {% for shop in shop_list %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ shop.photo.url }}" alt="{{ shop.title }}" class="bd-placeholder-img card-img-top" width="100%" height="500"/>

                    <div class="card-body">
                        <p class="card-text">{{ shop.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url "shop:shop_detail" shop.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ shop.photo.url }}" alt="{{ shop.title }}" class="bd-placeholder-img card-img-top" width="100%" height="500"/>

                    <div class="card-body">
                        <p class="card-text">{{ shop.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url "shop:shop_detail" shop.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}