{% extends "shop/layout.html" %}

{% block content %}

    <h2>{{ shop.name }}</h2>

    <p>
        {% for tag in shop.tag_set.all %}
            {{ tag.name }}
        {% empty %}
            등록된 태그가 없습니다.
        {% endfor %}
    </p>

    {% if shop.photo %}
        <img src="{{ shop.photo.url }}" alt="{{ shop.name }}"/>
    {% else %}
        사진 준비중입니다.
    {% endif %}

    <p>
        {{ shop.description|default:"설명 준비중입니다." }}
    </p>

    {% if shop.user == request.user %}
        <a href="{% url "shop:shop_delete" shop.pk %}">삭제</a>
    {% endif %}

    <hr/>
    <h3>리뷰</h3>

    <a href="#" class="btn btn-primary">리뷰쓰기</a>

    {% for review in shop.review_set.all %}
        <div>
            {{ review.message }}
            by {{ review.user }}
            at {{ review.created_at }}
            {% if review.user == request.user %}
                <a href="#">수정하기</a>
            {% endif %}
        </div>

    {% empty %}
        등록된 리뷰가 없습니다.
    {% endfor %}

{% endblock %}