{% load bootstrap5 %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❤ 진아의 책 블로그 ❤</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{% url "root" %}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="{% url "blog:post_list" %}" class="nav-link link-dark px-2">Post</a></li>
            <li class="nav-item"><a href="{% url "blog:review_list" %}" class="nav-link link-dark px-2">Review</a></li>
            <li class="nav-item"><a href="{% url "blog:post_new" %}" class="nav-link link-dark px-2">New_Post</a></li>
            <li class="nav-item"><a href="https://github.com/zzangpaka" class="nav-link link-dark px-2">GitHub</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
        </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="{% url "root" %}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <span class="fs-4"><h2>진아의 책 블로그 😘</h2></span>
        </a>
        <form action="" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="text" name="query" class="form-control" placeholder="검색어를 입력하세요" aria-label="Search"
                   size="23">
        </form>
    </div>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<hr/>
&copy; 2021. JinA Kim :)

</body>
</html>