{% extends "diary/layout.html" %}

{% block content %}

    <form action="" method="get">
        <input type="text"
               name="query"
               value="{{ request.GET.query }}"
               placeholder="검색어를 입력해주세요"
               size="35;"/>
        <input type="submit" value="검색"/>
    </form>
    <br>
    <br>

    <div class="row" style="margin-top: 1em;">
        {% for post in post_list %}
            <div class="col-sm-4" style="margin-bottom: 1em;"> <!-- offset-sm-3 3칸을 띄운다.. -->
                <div class="card">
                    <img src="{{ post.photo.url }}"
                         alt="{{ post.title }}"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        {{ post.content|truncatewords:20 }}
                        <a href="{% url "diary:post_detail" post.pk %}" class="btn btn-sm btn-primary">
                            바로가기
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr/>
    <a href="{% url "diary:post_new" %}" class="btn btn-primary">
        포스팅 쓰기
    </a>

{% endblock %}
