{% extends "diary/layout.html" %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <br>
    <p>
        태그:
        {% for tag in tag_list %}
            <a href="{% url "diary:tag_detail" tag.name %}" class="badge bg-success">
                {{ tag.name }}
            </a>
        {% endfor %}
    </p>
    <center><img src="{{ post.photo.url }}" alt="{{ post.title }}" style="max-width: 25%;"/></center>
    {{ post.content|linebreaks }} {{ post.updated_at }}

    <h3>댓글</h3>

    <a href="{% url "diary:comment_new" post.pk %}">댓글 쓰기</a>

    <ul>
        {% for comment in comment_list %}
            <li>
                {{ comment.message }}
                by {{ comment.author_name }}
                <span title="{{ comment.created_at }}">
                    {{ comment.created_at|timesince }} 전
                </span>

                <a href="{% url "diary:comment_edit" post.pk comment.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{% url "diary:post_list" %}">
        목록으로
    </a>
    <a href="{% url "diary:post_edit" post.pk %}">
        수정하기
    </a>
    <br>
{% endblock %}