{% extends "layout.html" %}

{% block content %}

    {% for hello in profile %}

        <div class="row featurette">
            <div class="col-md-7">
                <br>
                <br>
                <br>
                <br>
                <h2 class="featurette-heading">{{ hello.title }} <span
                        class="text-muted">안녕하세요 😊</span></h2>
                <br>
                <br>
                <br>
                <p class="lead">{{ hello.content|linebreaks }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ hello.photo.url }}" alt="{{ hello.title }}" width="500" height="500"/>
            </div>
        </div>

        <br>
        <center></center>

        <br>
        <br>

    {% endfor %}

{% endblock %}