{% extends "blog/layout.html" %}

{% block content %}

     <p>
        {% for tag in tag_list %}
            <span class="badge" style="background-color: steelblue;">{{ tag.name }}</span>
        {% endfor %}
    </p>

    <h2>{{ post.title }}</h2>
    <br>
        <center><img src="{{ post.photo.url }}" alt="{{ post.title }}" style="max-width: 25%;" /></center>
            {{ post.description|linebreaks }}
        <br>
        <br>

    <h3>리뷰</h3>

    <ul>
        {% for review in review_list %}
            <li>
                {{ review.description }}
                by {{ review.author_name }}
                <span title="{{ review.created_at }}">
                    {{ review.updated_at|timesince }} 전
                </span>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url "blog:post_list" %}">
        목록으로
    </a>


{% endblock %}