{% extends "diary/layout.html" %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <br>
    <p>
        태그:
        {% for tag in tag_list %}
            <a href="{% url "diary:tag_detail" tag.name %}" class="badge bg-success">
                {{ tag.name }}
            </a>
        {% endfor %}
    </p>
    <center><img src="{{ post.photo.url }}" alt="{{ post.title }}" style="max-width: 25%;"/></center>
    {{ post.content|linebreaks }}

    <h3>댓글</h3>
    <ul>
        {% for comment in comment_list %}
            <li>
                {{ comment.message }}
                by {{ comment.author_name }}
                at {{ comment.created_at }}
            </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{% url "diary:post_list" %}">
        목록으로
    </a>
    <br>
{% endblock %}