{% load bootstrap5 %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>진아의 픽! 음식점 ❤</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            padding-bottom: 1em;
            padding-left: 1em;
        }
    </style>
</head>
<body>

<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url "root" %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <h1>내가 좋아하는 음식점 😘</h1>
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url "root" %}" class="nav-link px-2 link-secondary">처음으로</a></li>
                <li><a href="{% url "shop:shop_new" %}" class="nav-link px-2 link-dark">가게등록</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">리뷰등록</a></li>
                <li><a href="https://github.com/zzangpaka" class="nav-link px-2 link-dark">GitHub</a></li>
            </ul>

            <form action="" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-4">
                <input type="text" name="query" class="form-control" placeholder="검색어를 입력하세요" aria-label="Search"
                       size="23">
            </form>
        </div>
        <br>
        <br>
        {% block content %}
        {% endblock %}
        <br>
        <br>
    </div>
</header>
&copy; 2021. JinA Kim :)

</body>
</html>