{% extends "shop/layout.html" %}

{% block content %}

    <div class="row" style="margin-top: 1em;">
        {#            <a href="?category_id={{ category.pk }}"></a>#}
        <div class="col-sm-8" style="margin-bottom: 1em;">
            {% for shop in shop_list %}
                <div class="card">
                    <img src="{{ shop.photo.url }}"
                         alt="{{ shop.name }}"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ shop.name }}</h5>
                        {{ shop.description|truncatewords:20 }}
                        <a href="{% url "shop:shop_detail" shop.pk %}" class="btn btn-sm btn-primary">
                            바로가기
                        </a>
                    </div>
                </div>
                </div>
            {% endfor %}
        <div class="col-sm-4">
        <div class="d-grid mb-3">
            <a href="{% url "shop:shop_new" %}" class="btn btn-primary">새 포스팅 쓰기</a>
        </div>
            <ul>
                <li>
                    <a href="?category_id=">
                        전체
                    </a>
                </li>
                {% for category in category_list %}
                    <li>
                        <a href="?category_id={{ category.pk }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}