{% extends "blog/layout.html" %}

{% block content %}

    <div class="row" style="margin-top: 1em;">
        {% for post in post_list %}
            <div class="col-sm-3" style="margin-bottom: 1em">
                <div class="card">
                    <img src="{{ post.thumbnail.url }}"
                         alt="{{ post.title }}"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold">{{ post.title }}</h5>
                        {{ post.content|truncatewords:20 }}
                        <a href="{% url "blog:post_detail" post.pk %}"
                           class="btn btn-sm btn-group"
                           style="font-weight: bold">
                            자세히 보기
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
