{% extends "blog/layout.html" %}

{% block content %}

    <div class="row featurette" style="margin-inline: auto">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ post.title }} <span class="text-muted">{{ post.author }}</span></h2>
        <p class="lead">{{ post.content|linebreaks }}</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <h2>{{ post.title }}</h2>
    <br>
    <center><img src="{{ post.photo.url }}" alt="{{ post.title }}" style="max-width: 25%;" /></center>
    {{ post.content|linebreaks }}
    <br>
    <br>
    <a href="{% url "blog:post_list" %}">
    목록으로
    </a>
    <br>

{% endblock %}