{% extends "blog/layout.html" %}

{% block content %}
    <div class="row featurette">
        <div class="col-md-7">
            {% for profile in profile %}
                <br>
                <br>
                <br>
                <br>
                <h2 class="featurette-heading">{{ profile.title }}</h2>
                <br>
                <br>
                <p class="lead">{{ profile.content|linebreaks }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ profile.photo.url }}" width=65%" title="{{ profile.title }}"/>
            {% endfor %}
            </div>
    </div>

{% endblock %}