{% extends "delicious/shop_layout.html" %}

{% block content %}

    <form action="" method="get">
        <input type="text" name="query"/> <!-- value="{{ request.GET.query }}"를 붙이면 검색어가 남아있음 -->
        <input type="submit" value="검색" />
        <a href="/delicious/new/" class="btn btn">등록하기</a>
    </form>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>name</th>
                <th>telephone</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shop_list %}
                <tr>
                    <td>
                        <a href="/delicious/{{ shop.pk }}/">
                            {{ shop.name }}
                        </a></td>
                    <td>
                        <a href="tel:{{ shop.telephone }}">
                            {{ shop.telephone }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}